.animal


  &__nav
    display: flex
    flex-direction: row
    justify-content: center
    padding-top: 30px
  &__button
    width: 150px
    height: 50px
    display: block
    background-size: 100% 100%
    margin: 0 20px
    z-index: 1000
    &--home
      background-image: url('/images/openMap/butt.png')
      &.active
        background-image: url('/images/openMap/butt11.png')
    &--wild
      background-image: url('/images/openMap/butt22.png')
      &.active
        background-image: url('/images/openMap/butt1.png')

  &__inner
    margin-top: 100px
    display: flex
    flex-direction: row
    justify-content: center
  &__photo
    width: 25%
    height: 400px
    padding: 20px
    background: #d8f6ff
    text-align: center
    font-family: 'Proxima'
    font-weight: bold
    font-size: 31px
    border-radius: 10px
    img
      width: 100%
  &__item
    width: 40%
    background: #ffffff
    border-radius: 10px
    padding: 20px
    font-family: 'Proxima'
    font-weight: 500
    font-size: 19px
    line-height: 1.3
    margin: 0 20px
    height: 400px
    overflow: auto
    display: none
    &.active
      display: block
    h2
      font-weight: bold
      font-size: 30px
      color: #2ca70f
      padding: 5px 0
      background: #d8f6ff
      text-align: center
      border-radius: 30px
  &__item-wrap
    display: flex
    flex-direction: row
    justify-content: space-between
  &__item-wrap-inner
    width: 45%
    p
      &.rhyme
        margin: 30px 0
      &.bold
        font-weight: bold
        margin-bottom: 10px
      &.orange
        color: #f5a623
      &.green
        color: #2ca70f
      &.yellow
        color: #f8e71c

      span
        color: #ff0000