.laboratory

  &__wrapper
    padding-top: 150px
  &__popup
    background: rgba(256,256,256,.8)
    width: 500px
    height: 300px
    margin: 0 auto
    padding: 50px
    text-align: center
    border-radius: 25px
    font-family: "Proxima"
    font-weight: bold
    position: relative
    display: block
    h1
      font-size: 25px
    p
      font-size: 20px
      margin-top: 20px
      line-height: 1.3
  &__success
    background: rgba(256,256,256,.8)
    width: 500px
    height: 300px
    margin: 0 auto
    padding: 20px
    text-align: center
    border-radius: 25px
    font-family: "Proxima"
    font-weight: bold
    position: relative
    display: none
    h1
      font-size: 25px
    p
      font-size: 20px
      margin-top: 20px
      line-height: 1.3
  &__popup-close
    position: absolute
    width: 50px
    top: -20px
    right: -20px
    cursor: pointer
    transition: .25s ease-out
    &:hover
      transform: scale(1.1)
      transition: .25s ease-out
    img
      width: 100%

  &__content
    display: none
  &__item
    &.show
      display: block
    &.hide
      display: none
  &__button-reset
    width: 70px
    display: block
    margin: 0 auto
    cursor: pointer
    &:hover
      img
        transform: rotate(900deg)
        transition: 1.5s ease-out
    img
      width: 100%
  &__cloud
    position: absolute
    top: 20%
    right: 120px
    width: 300px
    animation: animation-cloud 5s linear
    animation-iteration-count: infinite
    img
      width: 100%
  &__next
    position: absolute
    top: 10%
    left: 410px
    width: 200px
    opacity: 0
    transition: .2s ease-out
    img
      width: 100%
    &.show
      opacity: 1
      transition: .2s ease-out
  &__animal
    width: 300px
    position: absolute
    left: 43%
    top: 42%
    &--giraf
      width: 250px
      top: 38%
    &--snakecrocod
      width: 200px
      left: 49%
    img
      width: 100%
  &__answers
    a
      font-family: 'Proxima'
      font-weight: bold
      color: #000000
      font-size: 23px
      width: 160px
      text-align: center
      text-decoration: none
      padding: 10px 30px
      background: rgba(256,256,256,.8)
      border-radius: 25px
      position: absolute
      transition: .25s ease-out
      &:hover
        transform: scale(1.1)
        transition: .25s ease-out
      &.ok
        background: rgba(32,240,49,.8)
      &.no
        background: rgba(240,32,32,.8)
      &:nth-child(1)
        right: 100px
        top: 50%
      &:nth-child(2)
        right: 250px
        top: 58%
      &:nth-child(3)
        right: 100px
        top: 66%
      &:nth-child(4)
        right: 230px
        top: 74%
      &:nth-child(5)
        right: 100px
        top: 82%
      &:nth-child(6)
        right: 310px
        top: 90%


@keyframes animation-cloud
  0%
    transform: scale(1)
  50%
    transform: scale(1.1)
  100%
    transform: scale(1)