.main-block
  width: 100%
  background: #ffffff

  &--main-page
    background-image: url("/images/back.jpg")
    background-size: cover
  &--map
    background-image: url("/images/map.jpg")
    background-size: 100% 100%
  &--razvivaika
    background-image: url("/images/tv/maxresdefault-6.jpg")
    background-size: cover
  &--animal
    background-image: url("/images/openMap/cartoon.jpg")
    background-size: cover
  &--passport
    background: #d9f0ff
  &--laboratory
    background-image: url("/images/lab/fon.jpg")
    background-size: cover