.main-page
  &__button-line
    display: flex
    flex-direction: row
    justify-content: space-evenly
    width: 90%
    margin: 20px auto
  &__buttons-wrapper
    padding-top: 150px
  &__button
    text-align: center
    width: 30%
    a
      text-decoration: none
      color: #ffffff
      font-family: 'Proxima'
      font-weight: bold
      font-size: 35px
      &:hover
        img
          transform: scale(0.9)
          transition: .25s ease-out
    img
      width: 50%
      transition: .25s ease-out



