.map

  &__animals-wrapper
    position: relative
    height: 100%
  &__background
    position: absolute
    img
      width: 100%
      height: 100%
  &__animal
    position: absolute
    &--white-tiger
      top: 160px
      left: 210px
      img
        width: 80px
    &--turtle
      top: 36%
      left: 21%
      img
        width: 90px
    &--giraffe
      left: 32%
      top: 60%
      img
        width: 80px
    &--lion
      left: 50%
      top: 46%
      img
        width: 80px
    &--monk
      top: 50%
      left: 60%
      img
        width: 70px
    &--snake
      top: 70%
      left: 60%
      img
        width: 70px
    &--pig
      top: 22%
      left: 64%
      img
        width: 60px
    &--oleni
      top: 22%
      left: 70%
      img
        width: 60px
    &--crocodile
      top: 440px
      left: 950px
      img
        width: 100px
    &--bear
      right: 210px
      top: 150px
      img
        width: 100px
    &--haire
      right: 200px
      bottom: 150px
      img
        width: 70px