.navigation

  &__wrapper
    position: absolute
    width: 100%
    padding: 0 10%
    display: flex
    top: 20px
    flex-direction: row
    justify-content: space-between
    z-index: 1000
  &__button
    height: 80px
    width: 80px
    display: block
    transition: .25s ease-out
    &:hover
      transform: scale(1.1)
      transition: .25s ease-out
  &__back
    background-image: url("/images/Backcommand.png")
    background-size: cover
  &__home
    background-image: url("/images/Home.png")
    background-size: cover