.test

  &__wrapper
    padding-top: 170px
  &__inner
    width: 600px
    height: 400px
    background: rgba(256,256,256,.8)
    border-radius: 25px
    margin: 0 auto
    overflow: auto
    font-family: 'Proxima'
    h1
      font-weight: bold
      text-transform: uppercase
      font-size: 25px
      text-align: center
      padding-top: 20px
  &__item
    display: flex
    flex-direction: row
  &__item-wrapper
    display: flex
    flex-direction: row
    justify-content: space-around
    padding: 20px 0
  &__text
    margin-left: 15px
    h2, p
      font-size: 21px
      font-weight: bold
    form
      margin-top: 10px
      font-size: 20px
      line-height: 1.3
  &__status 
    width: 50px
    height: 50px
    display: block
    background-size: 100% 100%
    &--quest
      background-image: url("/images/ask.png")
    &--ok
      background-image: url("/images/yes.png")
    &--false
      background-image: url("/images/no.png")
