.vocabular

  &__wrapper

  &__nav
    display: flex
    flex-direction: row
    justify-content: center
    padding-top: 150px
  &__button
    width: 300px
    height: 50px
    display: block
    background-size: 100% 100%
    margin: 0 20px
    &--home
      background-image: url('/images/vacab/butt1.png')
      &.active
        background-image: url('/images/vacab/animbutt1.png')
    &--wild
      background-image: url("/images/vacab/animButt.png")
      &.active
        background-image: url('/images/vacab/butt.png')
  &__inner
    background: rgba(256, 256, 256, .7)
    width: 50%
    display: block
    margin: 20px auto 0
    height: 300px
    padding: 15px 60px 30px
    overflow: auto
    border-radius: 25px
    font-family: "Proxima"
    font-size: 20px
    line-height: 1.5
    h2
      font-size: 22px
      color: #2ca70f
      font-weight: bold
  &__item
    display: none
    &.active
      display: block
