.zveropark

  &__wrapper
    padding-top: 150px
  &__line
    display: flex
    flex-direction: row
    justify-content: center
  &__item
    &:hover
      img
        transform: scale(0.9)
        transition: .25s ease-out
    img
      width: 150px
      margin: 5px 15px
      transition: .25s ease-out