{% extends "layouts/layout.njk" %}

{% block content %}

    <div class="main-block main-block--main-page">
        <div class="top-button-wrapper">
            <a href="#" class="button button__main-page"><img src="/images/name.png" alt=""></a>
        </div>
        <div class="main-page__buttons-wrapper">
            <div class="main-page__button-line">
                <div class="main-page__button">
                    <a href="/laboratory.html">
                        <img src="/images/2b.png" alt="">
                        <p>Лаборатория</p>
                    </a>
                </div>
                <div class="main-page__button">
                    <a href="/map.html">
                        <img src="/images/1b.png" alt="">
                        <p>Карта</p>
                    </a>
                </div>
                <div class="main-page__button">
                    <a href="/zveropark.html">
                        <img src="/images/3b.png" alt="">
                        <p>Зверопарк</p>
                    </a>
                </div>
            </div>
            <div class="main-page__button-line">
                <div class="main-page__button">
                    <a href="/razvivaika.html">
                        <img src="/images/4b.png" alt="">
                        <p>Развивайка ТВ</p>
                    </a>
                </div>
                <div class="main-page__button">
                    <a href="/vocabular.html">
                        <img src="/images/5b.png" alt="">
                        <p>Словарь</p>
                    </a>
                </div>
                <div class="main-page__button">
                    <a href="/test.html">
                        <img src="/images/6b.png" alt="">
                        <p>Зверопрос</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <embed src="/images/audio/bg.mp3" class="main-player" hidden="true" autostart="true" loop="true" volume="5" pluginspage="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab"></embed>


{% endblock %}