{% extends "layouts/layout.njk" %}

{% block content %}

    <div class="main-block main-block--laboratory">
        <div class="top-button-wrapper">
            <a href="#" class="button button__main-page"><img src="/images/lab/Name.png" alt=""></a>
        </div>
        <div class="navigation__wrapper">
            <a href="/index.html" class="navigation__button navigation__back"></a>
            <a href="/index.html" class="navigation__button navigation__home"></a>
        </div>
        <div class="laboratory__wrapper">
            <div class="laboratory__popup">
                <h1>Приветствуем тебя, юный генетик!</h1>
                <p>В нашей веселой лаборатории ты
                    можешь найти необычных животных,
                    которые состоят из двух обычных. Их
                    называют гибридами. А наука про таких
                    животных называется ГЕНЕТИКА.</p>
                <span class="laboratory__popup-close"><img src="/images/lab/buttt.png" alt=""></span>
            </div>
            <div class="laboratory__success">
                <h1>Молодец!</h1>
                <p>Ты решил все задачи! Из тебя получится настоящий генетик!!!</p>
            </div>
            <div class="laboratory__content">
                <div class="laboratory__button-reset">
                    <img src="/images/lab/butttt.png" alt="">
                </div>
                <div class="laboratory__cloud">
                    <img src="/images/lab/cloud.png" alt="">
                </div>
                <div class="laboratory__item show">
                    <div class="laboratory__next">
                        <img src="/images/lab/cloud1.png" alt="">
                    </div>
                    <div class="laboratory__animal">
                        <img src="/images/lab/crocoturtle.png" alt="">
                    </div>
                    <div class="laboratory__answers">
                        <a href="#" class="laboratory__button true">Turtle</a>
                        <a href="#" class="laboratory__button true">Crocodile</a>
                        <a href="#" class="laboratory__button false">Monkey</a>
                        <a href="#" class="laboratory__button false">Bear</a>
                        <a href="#" class="laboratory__button false">Snake</a>
                        <a href="#" class="laboratory__button false">Tiger</a>
                    </div>
                </div>
                <div class="laboratory__item hide">
                    <div class="laboratory__next">
                        <img src="/images/lab/cloud1.png" alt="">
                    </div>
                    <div class="laboratory__animal laboratory__animal--giraf">
                        <img src="/images/lab/girafbear.png" alt="">
                    </div>
                    <div class="laboratory__answers">
                        <a href="#" class="laboratory__button false">Rabbit</a>
                        <a href="#" class="laboratory__button false">Monkey</a>
                        <a href="#" class="laboratory__button true">Giraf</a>
                        <a href="#" class="laboratory__button true">Bear</a>
                        <a href="#" class="laboratory__button false">Dog</a>
                        <a href="#" class="laboratory__button false">Cat</a>
                    </div>
                </div>
                <div class="laboratory__item hide">
                    <div class="laboratory__next">
                        <img src="/images/lab/cloud1.png" alt="">
                    </div>
                    <div class="laboratory__animal laboratory__animal--lionmonkey">
                        <img src="/images/lab/lionmonkey.png" alt="">
                    </div>
                    <div class="laboratory__answers">
                        <a href="#" class="laboratory__button false">Cat</a>
                        <a href="#" class="laboratory__button true">Lion</a>
                        <a href="#" class="laboratory__button false">Hair</a>
                        <a href="#" class="laboratory__button false">Bear</a>
                        <a href="#" class="laboratory__button true">Monkey</a>
                        <a href="#" class="laboratory__button false">Rabbit</a>
                    </div>
                </div>
                <div class="laboratory__item hide">
                    <div class="laboratory__next">
                        <img src="/images/lab/cloud1.png" alt="">
                    </div>
                    <div class="laboratory__animal laboratory__animal--mousehair">
                        <img src="/images/lab/mousehair.png" alt="">
                    </div>
                    <div class="laboratory__answers">
                        <a href="#" class="laboratory__button false">Cat</a>
                        <a href="#" class="laboratory__button true">Hair</a>
                        <a href="#" class="laboratory__button false">Crocodyle</a>
                        <a href="#" class="laboratory__button false">Monkey</a>
                        <a href="#" class="laboratory__button false">Bear</a>
                        <a href="#" class="laboratory__button true">Mouse</a>
                    </div>
                </div>
                <div class="laboratory__item hide">
                    <div class="laboratory__next">
                        <img src="/images/lab/cloud1.png" alt="">
                    </div>
                    <div class="laboratory__animal laboratory__animal--snakecrocod">
                        <img src="/images/lab/snakecrocod.png" alt="">
                    </div>
                    <div class="laboratory__answers">
                        <a href="#" class="laboratory__button true">Shake</a>
                        <a href="#" class="laboratory__button false">Hair</a>
                        <a href="#" class="laboratory__button false">Giraf</a>
                        <a href="#" class="laboratory__button true">Crocodyle</a>
                        <a href="#" class="laboratory__button false">Pig</a>
                        <a href="#" class="laboratory__button false">Bear</a>
                    </div>
                </div>
                <div class="laboratory__item hide">
                    <div class="laboratory__next">
                        <img src="/images/lab/cloud1.png" alt="">
                    </div>
                    <div class="laboratory__animal laboratory__animal--tigerpig">
                        <img src="/images/lab/tigerpig.png" alt="">
                    </div>
                    <div class="laboratory__answers">
                        <a href="#" class="laboratory__button false">Hair</a>
                        <a href="#" class="laboratory__button true">Tiger</a>
                        <a href="#" class="laboratory__button false">Giraf</a>
                        <a href="#" class="laboratory__button true">Pig</a>
                        <a href="#" class="laboratory__button false">Crocodyle</a>
                        <a href="#" class="laboratory__button false">Bear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <embed src="/images/audio/bg.mp3" class="main-player" hidden="true" autostart="true" loop="true" volume="5" pluginspage="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab"></embed>


{% endblock %}