{% extends "layouts/layout.njk" %}

{% block content %}

    <div class="main-block main-block--map">
        <div class="top-button-wrapper">
            <a href="#" class="button button__main-page"><img src="/images/name.png" alt=""></a>
        </div>
        <div class="navigation__wrapper">
            <a href="/index.html" class="navigation__button navigation__back"></a>
            <a href="/index.html" class="navigation__button navigation__home"></a>
        </div>
        <div class="map__animals-wrapper">
            <a href="#" class="map__animal map__animal--white-tiger">
                <img src="/images/animals/tiger.png" alt="">
            </a>
            <a href="/turtle.html" class="map__animal map__animal--turtle">
                <img src="/images/animals/turtle.png" alt="">
            </a>
            <a href="#" class="map__animal map__animal--giraffe">
                <img src="/images/animals/giraffe.png" alt="">
            </a>
            <a href="#" class="map__animal map__animal--lion">
                <img src="/images/animals/lion.png" alt="">
            </a>
            <a href="#" class="map__animal map__animal--monk">
                <img src="/images/animals/monk.png" alt="">
            </a>
            <a href="#" class="map__animal map__animal--snake">
                <img src="/images/animals/snake.png" alt="">
            </a>
            <a href="#" class="map__animal map__animal--pig">
                <img src="/images/animals/pig.png" alt="">
            </a>
            <a href="#" class="map__animal map__animal--oleni">
                <img src="/images/animals/oleni.png" alt="">
            </a>
            <a href="#" class="map__animal map__animal--crocodile">
                <img src="/images/animals/crocodile.png" alt="">
            </a>
            <a href="#" class="map__animal map__animal--bear">
                <img src="/images/animals/bear.png" alt="">
            </a>
            <a href="#" class="map__animal map__animal--haire">
                <img src="/images/animals/haire.png" alt="">
            </a>
        </div>
        <embed src="/images/audio/bg.mp3" class="main-player" hidden="true" autostart="true" loop="true" volume="5" pluginspage="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab"></embed>
    </div>

{% endblock %}