{% extends "layouts/layout.njk" %}

{% block content %}

    <div class="main-block main-block--passport">
        <div class="navigation__wrapper">
            <a href="/index.html" class="navigation__button navigation__back"></a>
            <a href="/index.html" class="navigation__button navigation__home"></a>
        </div>
        <div class="passport-image">
            <img src="/images/passport.jpg" alt="">
        </div>

    </div>
    <embed src="/images/audio/bg.mp3" class="main-player" hidden="true" autostart="true" loop="true" volume="5" pluginspage="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab"></embed>


{% endblock %}