{% extends "layouts/layout.njk" %}

{% block content %}

    <div class="main-block main-block--razvivaika">
        <div class="top-button-wrapper">
            <a href="#" class="button button__main-page"><img src="/images/tv/Name1.png" alt=""></a>
        </div>
        <div class="navigation__wrapper">
            <a href="/index.html" class="navigation__button navigation__back"></a>
            <a href="/index.html" class="navigation__button navigation__home"></a>
        </div>
        <div class="razvivaika__button">
            <a href="https://www.youtube.com/watch?v=NH4RIOeNrxo" target="_blank"><img src="/images/tv/video.png" alt=""></a>
        </div>

    </div>
    <embed src="/images/audio/bg.mp3" class="main-player" hidden="true" autostart="true" loop="true" volume="5" pluginspage="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab"></embed>


{% endblock %}