{% extends "layouts/layout.njk" %}

{% block content %}

    <div class="main-block main-block--main-page">
        <div class="top-button-wrapper">
            <a href="#" class="button button__main-page"><img src="/images/test.png" alt=""></a>
        </div>
        <div class="navigation__wrapper">
            <a href="/index.html" class="navigation__button navigation__back"></a>
            <a href="/index.html" class="navigation__button navigation__home"></a>
        </div>
        <div class="test__wrapper">
            <div class="test__inner">
                <h1>УКАЖИТЕ ПРАВИЛЬНЫЙ ПЕРЕВОД СЛОВА</h1>
                <div class="test__item-wrapper">
                    <div class="test__item">
                        <div class="test__status test__status--quest">
                        </div>
                        <div class="test__text">
                            <h2>Вопрос №1</h2>
                            <p>Horse</p>
                            <form action="#">
                                <div>
                                    <input type="radio" name="quest1" id="1" class="test-input false"><label for="1">Собака</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest1" id="2" class="test-input true"><label for="2">Лошадь</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest1" id="3" class="test-input false"><label for="3">Черепаха</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest1" id="4" class="test-input false"><label for="4">Обезьяна</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="test__item">
                        <div class="test__status test__status--quest">
                        </div>
                        <div class="test__text">
                            <h2>Вопрос №2</h2>
                            <p>Bear</p>
                            <form action="#">
                                <div>
                                    <input type="radio" name="quest2" id="5" class="test-input false"><label for="5">Жираф</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest2" id="6" class="test-input true"><label for="6">Медведь</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest2" id="7" class="test-input false"><label for="7">Черепаха</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest2" id="8" class="test-input false"><label
                                            for="8">Кот</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="test__item-wrapper">
                    <div class="test__item">
                        <div class="test__status test__status--quest">
                        </div>
                        <div class="test__text">
                            <h2>Вопрос №3</h2>
                            <p>TIGER</p>
                            <form action="#">
                                <div>
                                    <input type="radio" name="quest1" id="9" class="test-input false"><label for="9">Свинья</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest1" id="10" class="test-input false"><label for="10">Собака</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest1" id="11" class="test-input true"><label for="11">Тигр</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest1" id="12" class="test-input false"><label for="12">Корова</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="test__item">
                        <div class="test__status test__status--quest">
                        </div>
                        <div class="test__text">
                            <h2>Вопрос №4</h2>
                            <p>FROG</p>
                            <form action="#">
                                <div>
                                    <input type="radio" name="quest2" id="13" class="test-input false"><label for="13">Лошадь</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest2" id="14" class="test-input false"><label for="14">Кролик</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest2" id="15" class="test-input false"><label for="15">Крыса</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest2" id="16" class="test-input true"><label
                                            for="16">Лягушка</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="test__item-wrapper">
                    <div class="test__item">
                        <div class="test__status test__status--quest">
                        </div>
                        <div class="test__text">
                            <h2>Вопрос №5</h2>
                            <p>MONKEY</p>
                            <form action="#">
                                <div>
                                    <input type="radio" name="quest1" id="17" class="test-input false"><label for="17">Обезьяна</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest1" id="18" class="test-input false"><label for="18">Лошадь</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest1" id="19" class="test-input false"><label for="19">Черепаха</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest1" id="20" class="test-input true"><label for="20">Обезьяна</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="test__item">
                        <div class="test__status test__status--quest">
                        </div>
                        <div class="test__text">
                            <h2>Вопрос №6</h2>
                            <p>COW</p>
                            <form action="#">
                                <div>
                                    <input type="radio" name="quest2" id="21" class="test-input false"><label for="21">Крокодил</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest2" id="22" class="test-input true"><label for="22">Корова</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest2" id="23" class="test-input false"><label for="23">Крыса</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest2" id="24" class="test-input false"><label
                                            for="24">Кот</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="test__item-wrapper">
                    <div class="test__item">
                        <div class="test__status test__status--quest">
                        </div>
                        <div class="test__text">
                            <h2>Вопрос №5</h2>
                            <p>ELEPHANT</p>
                            <form action="#">
                                <div>
                                    <input type="radio" name="quest1" id="25" class="test-input false"><label for="25">Собака</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest1" id="26" class="test-input false"><label for="26">Носорог</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest1" id="27" class="test-input false"><label for="27">Лиса</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest1" id="28" class="test-input true"><label for="28">Слон</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="test__item">
                        <div class="test__status test__status--quest">
                        </div>
                        <div class="test__text">
                            <h2>Вопрос №6</h2>
                            <p>PIG</p>
                            <form action="#">
                                <div>
                                    <input type="radio" name="quest2" id="29" class="test-input true"><label for="29">Свинья</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest2" id="30" class="test-input false"><label for="30">Медведт</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest2" id="31" class="test-input false"><label for="31">Корова</label>
                                </div>
                                <div>
                                    <input type="radio" name="quest2" id="32" class="test-input false"><label
                                            for="32">Кот</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <embed src="/images/audio/bg.mp3" class="main-player" hidden="true" autostart="true" loop="true" volume="5"
           pluginspage="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab"></embed>


{% endblock %}