{% extends "layouts/layout.njk" %}

{% block content %}

    <div class="main-block main-block--animal">
        <div class="navigation__wrapper">
            <a href="/index.html" class="navigation__button navigation__back"></a>
            <a href="/index.html" class="navigation__button navigation__home"></a>
        </div>
        <div class="animal__wrapper">
            <div class="animal__nav">
                <a href="#" class="tab__button animal__button animal__button--home active"></a>
                <a href="#" class="tab__button animal__button animal__button--wild"></a>
            </div>
            <div class="animal__inner">
                <div class="animal__photo">
                    <img src="/images/openMap/photo.png" alt="">
                    <p>Черепаха</p>
                    <p>Turtle</p>
                </div>
                <div class="animal__item tab__item active">
                    <p>1) Возраст черепах - 200 млн. лет. Современные черепахи похожи на своих предков. Однако отличие
                        все-таки есть – отсутствие зубов и умение прятать голову. <br>
                        2) Гигантские черепахи населяли нашу планету 70 млн. лет назад. <br>
                        3) Среди современных черепах тоже есть гиганты. Это кожистые черепахи, места обитания которых –
                        моря и океаны. Вес кожистых черепах – от 300 кг до полтонны. <br>
                        4) Черепахи – долгожители: могут жить более 100 лет. <br>
                        5) Черепахи обладают превосходным зрением, обонянием, слухом, осязанием. <br>
                        6) Общаясь с людьми, черепахи запоминают их лица.
                        Вытягивание шеи, внимательное слушание – реакция черепахи на ласковую речь. На грубую речь
                        реакция другая – черепаха прячется в панцирь.</p>
                </div>
                <div class="animal__item tab__item">
                    <h2>LET’S GO!</h2>
                    <div class="animal__item-wrap">
                        <div class="animal__item-wrap-inner">
                            <p class="rhyme">I'm a little <span>turtle</span>, <br>
                                I crawl so slow, <br>
                                And carry my house <br>
                                Wherever I go.</p>
                            <p class="orange bold">READ 5 TIMES…</p>
                            <p class="yellow bold">REPEAT 5 TIMES :)</p>
                            <p class="green bold">WELL DONE!!!…</p>
                        </div>
                        <div class="animal__item-wrap-inner">
                            <p class="rhyme">
                                Я маленькая <span>черепаха</span>, <br>
                                Я так медленно ползу, <br>
                                Я ношу свой дом, <br>
                                Куда бы я не пошла. <br>
                            </p>
                            <p class="orange bold">ПРОЧТИ 5 РАЗ…</p>
                            <p class="yellow bold">ПОВТОРИ 5 РАЗ :)</p>
                            <p class="green bold">МОЛОДЕЦ!!!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <embed src="/images/audio/bg.mp3" class="main-player" hidden="true" autostart="true" loop="true" volume="5"
           pluginspage="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab"></embed>


{% endblock %}