{% extends "layouts/layout.njk" %}

{% block content %}

    <div class="main-block main-block--main-page">
        <div class="top-button-wrapper">
            <a href="#" class="button button__main-page"><img src="/images/vacab/Name.png" alt=""></a>
        </div>
        <div class="navigation__wrapper">
            <a href="/index.html" class="navigation__button navigation__back"></a>
            <a href="/index.html" class="navigation__button navigation__home"></a>
        </div>
        <div class="vocabular__wrapper">
            <div class="vocabular__nav">
                <a href="#" class="tab__button vocabular__button vocabular__button--home active"></a>
                <a href="#" class="tab__button vocabular__button vocabular__button--wild"></a>
            </div>
            <div class="vocabular__inner">
                <div class="tab__item vocabular__item active">
                    <h2>Домашние животные – Domestic animals</h2>
                    Кошка – Cat (кэт) [kæt] <br>
                    Корова – Cow (кау) [kau] <br>
                    Собака – Dog (дог) [dɔg]<br>
                    Утка – Duck (дак) [dΛk]<br>
                    Осел – Donkey (донки) [dɔnki]<br>
                    Коза – Goat (гоут) [gəut]<br>
                    Гусь – Goose (гус) [gus]<br>
                    Курица – Hen (хэн) [hen]<br>
                    Лошадь – Horse (хос) [hɔ:s]<br>
                    Мышь – Mouse (маус) [maus]<br>
                    Свинья – Pig (пиг) [pig]<br>
                    Кролик – Rabbit (рэбит) [ræbit]<br>
                    Овца – Sheep (шип) [ ʃ I:p]<br>
                </div>
                <div class="tab__item vocabular__item">
                    <h2>Дикие животные – Wild animals</h2>
                    Медведь – Bear (беэ) [beə] <br>
                    Крокодил – Crocodile (крокодайл) [krɔkədail]<br>
                    Олень – Deer (диэ) [diə]<br>
                    Слон – Elephant (элефэнт) [elifənt]<br>
                    Жираф – Giraffe (джираф) [d3ira:f]<br>
                    Лиса – Fox (фокс) [fɔks]<br>
                    Коала – Koala (коуалэ) [kəua:lə]<br>
                    Леопард – Leopard (лэпэд) [lepəd]<br>
                    Обезьяна – Monkey (манки) [mΛŋki]<br>
                    Страус – Ostrich (острич) [ɔstritʃ]<br>
                    Змея – Snake (снэйк) [sneik]<br>
                    Черепаха – Tortoise (тоtэс) [tɔ:təs]<br>
                    Зебра – Zebra (зэбрэ) [zebrə]<br>
                </div>
            </div>
        </div>
    </div>
    <embed src="/images/audio/bg.mp3" class="main-player" hidden="true" autostart="true" loop="true" volume="5" pluginspage="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab"></embed>


{% endblock %}