{% extends "layouts/layout.njk" %}

{% block content %}

    <div class="main-block main-block--main-page">
        <div class="top-button-wrapper">
            <a href="#" class="button button__main-page"><img src="/images/Zveropark/Name.png" alt=""></a>
        </div>
        <div class="navigation__wrapper">
            <a href="/index.html" class="navigation__button navigation__back"></a>
            <a href="/index.html" class="navigation__button navigation__home"></a>
        </div>
        <div class="zveropark__wrapper">
            <div class="zveropark__line">
                <div class="zveropark__item">
                    <a href="/passport.html">
                        <img src="/images/Zveropark/1.png" alt="">
                    </a>
                </div>
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/2.png" alt="">
                    </a>
                </div>
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/3.png" alt="">
                    </a>
                </div>
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/4.png" alt="">
                    </a>
                </div>
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/5.png" alt="">
                    </a>
                </div>
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/6.png" alt="">
                    </a>
                </div>
            </div>
            <div class="zveropark__line">
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/7.png" alt="">
                    </a>
                </div>
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/8.png" alt="">
                    </a>
                </div>
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/9.png" alt="">
                    </a>
                </div>
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/10.png" alt="">
                    </a>
                </div>
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/11.png" alt="">
                    </a>
                </div>
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/12.png" alt="">
                    </a>
                </div>
            </div>
            <div class="zveropark__line">
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/13.png" alt="">
                    </a>
                </div>
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/14.png" alt="">
                    </a>
                </div>
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/15.png" alt="">
                    </a>
                </div>
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/16.png" alt="">
                    </a>
                </div>
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/17.png" alt="">
                    </a>
                </div>
                <div class="zveropark__item">
                    <a href="#">
                        <img src="/images/Zveropark/18.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <embed src="/images/audio/bg.mp3" class="main-player" hidden="true" autostart="true" loop="true" volume="5" pluginspage="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab"></embed>


{% endblock %}